.root-container {
  background-image: linear-gradient(
    to right bottom,
    lighten($color-scrapmetal, 25%),
    darken($color-scrapmetal, 25%)
  );
  padding: 3rem;
}

.inner-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  background-color: $color-claw;
  background-image: linear-gradient(
    to left top,
    lighten($color-claw, 4%),
    darken($color-claw, 9%)
  );
  border-radius: 0.5rem;
  box-shadow: 0 0 5rem $color-inktongue;
  grid-row-gap: 2.5rem;
  overflow: hidden;
}
