.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);

  @media only screen and (min-width: 650px) {
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: none;
  }

  grid-column: 1 / -1;

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;

    grid-column: 1 / 1;
    grid-row: 1 / 1;

    @media only screen and (min-width: 650px) {
      grid-row: auto;
    }
    object-fit: contain;
    &-img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }

  &__heading-container {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
    @media only screen and (min-width: 650px) {
      grid-column: 2 / 2;
      grid-row: auto;
    }
    @include flexCenterCenter;
    padding: 0 2rem;
  }
}
