.header {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) repeat(2, 1fr);
  grid-template-rows: 30% 70%;

  grid-column: 1 / -1;

  &__logo-1 {
    grid-column: 1 / 1;
    grid-row: 1 / span 2;
    object-fit: contain;
  }

  &__logo-img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  &__heading {
    grid-column: 2 / span 2;
    grid-row: 1 / 1;
  }

  &__text-box {
    grid-column: 2 / span 2;
    grid-row: 2 / 2;
    padding: 0 2rem;
    font-size: 1.3rem;
    // text-shadow: 0 0 1px $color-frostbite;
  }
}
