.nav {
  display: grid;

  grid-template-columns: 1fr;
  @media only screen and (min-width: 750px) {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
  background-image: linear-gradient(
    to left bottom,
    lighten($color-scrapmetal, 25%),
    darken($color-scrapmetal, 25%)
  );

  &--item {
    margin-bottom: 0.3rem;
    box-shadow: 0 0.5rem 0.6rem $color-inktongue;
    padding-bottom: 0.3rem;
    padding-top: 0.3rem;
    text-align: center;
  }

  &__link {
    font-size: 2rem;
    text-decoration: none;
    font-family: $font-header;

    &--hover--rock-salt {
      color: $color-rock-salt;
      text-shadow: 0 0 1.5rem $color-inktongue;
      transition: all 1s ease-out;
      &:hover {
        color: lighten($color-rock-salt, 20%);
        transform: scale(1.05);
        text-shadow: 2rem 0 0 $color-inktongue;
      }
    }
  }
}
