.center {
  text-align: center;
}

.heading-1 {
  font-family: $font-header;
  font-size: 2.2rem;
  // @media only screen and (min-width: 650px) {
  //   font-size: 2.8rem;
  // }
  // @media only screen and (min-width: 900px) {
  //   font-size: 3rem;
  // }
  text-shadow: 0 0 1.1rem $color-mudhut;

  &--hover {
    &:hover &--small {
      transform: translateY(0) scale(1);
    }
    &--small {
      display: block;
      font-size: 1.6rem;
      transform: translateY(-2.5rem) scale(0);
      transition: all 1s ease-out;
    }
  }
}

.heading-2 {
  font-family: $font-header;
  font-size: 2rem;
}

.text-shadow-primary-blood {
  font-size: $font-size-primary;
  text-shadow: 0 0 0.15rem $color-dryblood;
}

.text-shadow-primary-frost {
  font-size: $font-size-primary;
  text-shadow: 0 0 0.4rem lighten($color-frostbite, 30%);
}

.text-color-inktongue {
  color: $color-inktongue;
}

.text-color-claw {
  color: $color-claw;
}

.text-color-mudhut {
  color: $color-mudhut;
}

.text-color-rock-salt {
  color: $color-rock-salt;
}
