.center {
  text-align: center;
}

.heading-1 {
  font-family: $font-header;
  font-size: 3.2rem;
  text-shadow: 0px 0px 1.1rem $color-mudhut;

  &--hover {
    &:hover &--small {
      transform: translateY(0) scale(1);
    }
    &--small {
      display: block;
      font-size: 1.6rem;
      transform: translateY(-2.5rem) scale(0);
      transition: all 1s ease-out;
    }
  }
}

.heading-2 {
  font-family: $font-header;
  font-size: 2rem;
}

.text-color-inktongue {
  color: $color-inktongue;
}

.text-color-claw {
  color: $color-claw;
}

.text-color-mudhut {
  color: $color-mudhut;
}

.text-color-rock-salt {
  color: $color-rock-salt;
}
