.margin-top-big {
  margin-top: 4rem;
}
.margin-top-medium {
  margin-top: 2rem;
}
.margin-top-small {
  margin-top: 1rem;
}

@mixin flexCenterCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
