@font-face {
  font-family: 'Durian';
  src: url(fonts/Durian.ttf) format('truetype');
}

@font-face {
  font-family: 'Chlorinar';
  src: url(fonts/Chlorinar.ttf) format('truetype');
}

@font-face {
  font-family: 'HighwayToHell';
  src: url(fonts/HighwayToHell.otf) format('opentype');
}

$font-primary: 'Durian', sans-serif;
$font-header: 'HighwayToHell', sans-serif;
$font-caption: 'Chlorinar', sans-serif;
// $font-legal: Rockwell, sans-serif;

$color-claw: #f9dfcd;
$color-inktongue: #0e202a;
$color-dryblood: #390d0a;
$color-deepdark: #1c1623;
$color-arrivad-freckles: #038273;
$color-feathered-elite: #080808;
$color-scrapmetal: #6e6d6b;
$color-mudhut: #754a1f;
$color-salt-marsh: #6c543d;
$color-moneywood: #b07d4a;
$color-rock-salt: #bdac99;
$color-polished-bone: #d7c7a6;
$color-kassari-scales: #ff2929;
$color-frostbite: #3b5b70;
$color-swampwater: #027329;
$color-dirtcloud: #c96e2d;
$color-brushfire: #c22f1d;
$color-moss-purple: #281c34;
