@font-face {
  font-family: 'Durian';
  src: url(fonts/Durian.ttf) format("truetype"); }

@font-face {
  font-family: 'Chlorinar';
  src: url(fonts/Chlorinar.ttf) format("truetype"); }

@font-face {
  font-family: 'HighwayToHell';
  src: url(fonts/HighwayToHell.otf) format("opentype"); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 50%; }
  @media only screen and (min-width: 650px) {
    html {
      font-size: 62.5%; } }
  @media only screen and (min-width: 1000px) {
    html {
      font-size: 75%; } }
  @media only screen and (min-width: 1150px) {
    html {
      font-size: 80%; } }
  @media only screen and (min-width: 1400px) {
    html {
      font-size: 90%; } }

body {
  font-family: "Durian", sans-serif; }

.center {
  text-align: center; }

.heading-1 {
  font-family: "HighwayToHell", sans-serif;
  font-size: 2.2rem;
  text-shadow: 0 0 1.1rem #390d0a; }
  @media only screen and (min-width: 719px) {
    .heading-1 {
      font-size: 3rem; } }
  @media only screen and (min-width: 1200px) {
    .heading-1 {
      font-size: 3.8rem; } }
  .heading-1--hover:hover .heading-1--hover--small {
    transform: translateY(0) scale(1); }
  .heading-1--hover--small {
    display: block;
    font-size: 1.6rem;
    transform: translateY(-2.5rem) scale(0);
    transition: all 1s ease-out; }

.heading-2 {
  font-family: "HighwayToHell", sans-serif;
  font-size: 2rem; }

.text-shadow-primary-blood {
  font-size: 1.3rem;
  text-shadow: 0 0 0.4rem #390d0a; }

.text-shadow-primary-frost {
  font-size: 1.3rem;
  text-shadow: 0 0 0.4rem #3b5b70; }

.text-color-inktongue {
  color: #0e202a; }

.text-color-claw {
  color: #f9dfcd; }

.text-color-mudhut {
  color: #754a1f; }

.text-color-rock-salt {
  color: #bdac99; }

.margin-top-big {
  margin-top: 4rem; }

.margin-top-medium {
  margin-top: 2rem; }

.margin-top-small {
  margin-top: 1rem; }

.root-container {
  background-image: linear-gradient(to right bottom, #adadab, #2d2d2c);
  padding: 3rem; }

.inner-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  background-image: linear-gradient(to left top, #ddd0b4, #c9b386);
  border-radius: 0.5rem;
  box-shadow: 0 0 5rem #0e202a;
  grid-row-gap: 2.5rem;
  overflow: hidden; }

.nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  background-image: linear-gradient(to left bottom, #adadab, #2d2d2c); }
  .nav--item {
    margin-bottom: 0.3rem;
    box-shadow: 0 0.5rem 0.6rem #0e202a;
    padding-bottom: 0.3rem;
    padding-top: 0.3rem;
    text-align: center; }
  .nav__link {
    font-size: 2rem;
    text-decoration: none;
    font-family: "HighwayToHell", sans-serif; }
    .nav__link--hover--rock-salt {
      color: #bdac99;
      text-shadow: 0 0 1.5rem #0e202a;
      transition: all 1s ease-out; }
      .nav__link--hover--rock-salt:hover {
        color: #e5ded7;
        transform: scale(1.05);
        text-shadow: 2rem 0 0 #0e202a; }

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-column: 1 / -1; }
  @media only screen and (min-width: 450px) {
    .header {
      grid-template-columns: 0.5fr 1fr;
      grid-template-rows: none; } }
  .header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    object-fit: contain; }
    @media only screen and (min-width: 450px) {
      .header__logo {
        grid-row: auto; } }
    .header__logo-img {
      display: block;
      max-width: 100%;
      height: auto; }
  .header__heading-container {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 2rem; }
    @media only screen and (min-width: 450px) {
      .header__heading-container {
        grid-column: 2 / 2;
        grid-row: auto; } }

.video {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr; }
  @media only screen and (min-width: 650px) {
    .video {
      grid-template-columns: 60% 40%; } }
  .video__container {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0; }
    @media only screen and (min-width: 650px) {
      .video__container {
        grid-column: 1 / 1;
        grid-row: auto; } }
  .video__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .video__image-box {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem; }
    @media only screen and (min-width: 650px) {
      .video__image-box {
        grid-column: 2 / 2;
        grid-row: auto; } }
    .video__image-box--image {
      display: block;
      max-width: 100%;
      height: auto;
      box-shadow: 0 0 1.5rem black;
      transform: skew(-0.7deg, -0.1deg) scale(1) translate(0);
      transition: all 1s; }
      .video__image-box--image:hover {
        transform: skew(-1.1deg, -0.31deg) scale(1.005) translateY(-0.3rem); }

.features-1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-column: 1 / -1; }
  .features-1__text-box {
    padding: 3rem 2rem; }
  .features-1__ul {
    padding: 0.5rem 2.5rem; }

.features-2 {
  grid-column: 1 / -1; }
  .features-2__text-box {
    padding: 3rem 2rem; }
  .features-2__ul {
    padding: 0.5rem 2.5rem; }
